@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    background-color: #FFFFFF;
}

.navigation-link {
    font-size: 20px;
    font-weight: 700;
    color: inherit;
    text-transform: capitalize;
    text-decoration: none;
}

.page-header {
    background-image: url("../images/index-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.page-header-catalog {
    background-image: url("../images/background-catalog.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.footer-picture {
    background-size: 100% auto;
}

.advanteges-list {
    text-align: center;
}

.advanteges-title {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.advanteges-item {
    background: #82B3D3;
}

.count {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.advanteges-discription {
    color: #FFFFFF;
}

.advanteges-item-3 {
    background: rgba(131, 179, 211, 0.12); 
    color: #000000;
}

.advanteges-item-4 {
    background: rgba(131, 179, 211, 0.2);
    color: #000000;
}

.advanteges-item-5 {
    background: rgba(131, 179, 211, 0.12); 
    color: #000000;
}

.services-item-house {
    background: rgba(131, 179, 211, 0.12); 
    color: #000000;
}

.services-item-burger {
    background: #FFFFFF;
    color: #000000; 
}

.services-item-gift {
    background: rgba(131, 179, 211, 0.12); 
    color: #000000;
}

.interest {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.booking {
    text-align: center;
}

a[href^="tel:"] {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration-line: none;
    color: #000000;
}

.button {
    background: #756157;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.want-here {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #756157;
}

.submission {
    background: #82B3D3;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.email {
    font-size: 18px;
    line-height: 21px;
}

.mailing {
    background-image: url("../images/background-footer.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.hotels-sedona {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;  
    color: #FFFFFF;
}

.product-card-basket {
    background: #82B3D3;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.rate {
    background: #F2F2F2;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #333333;
}

.reset {
    font-family: 'PT Sans' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: none;
}

.product-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;   
}

.product-card-price, .hotel-on-the-page {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;  
    color: #FFFFFF;
}

.pagination-link, .pagination-show-more {
    background: #82B3D3;
    border: 1px solid #82B3D3;
    border-radius: 4px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}